logs/
logs_dynaprompt/
runs/
runs_imagenet/
runs_imagenet_dynaprompt/
__pycache__/
.dyna_prompt_env/
*.log
dtd/
oxford_pets/
data_splits/
Understand/
.dyna_prompt_env/
_site/
commands
run_experiments.md
*.pt
~/.cache/clip/
~/.cache/clip/ViT-B-16.pt
clip/bpe_simple_vocab_16e6.txt.gz
clip/bpe_simple_vocab_16e6.txt.zip